.bi {
  vertical-align: -0.125em;
  fill: currentColor;
  margin-left: 50px;
}

.form-control {
  border-radius: 25px;
  background-color: #e5e4e2;
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle {
  outline: 0;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}

.carousel {
  margin-bottom: 4rem;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.carousel-item {
  height: 16rem;
}

.carousel-item > img {
  position: center;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%;
}

@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.row_name {
  margin-left: 50px;
  font-size: x-large;
}

.card-body h1 {
  font-size: large;
}

.card-body .btn {
  display: inline-block;
  padding: 1em 7em;
}

footer h6 {
  color: #a7a7a7;
  margin-top: 0;
  margin-bottom: 1em;
  font-size: 16px;
}
footer h6:before {
  content: '//';
}
@media (max-width: 599px) {
  footer h6 {
    margin: 0.5em 0 0.2em 0;
  }
}

footer p {
  color: #a7a7a7;
  margin: 0.4em 0;
}

footer .footer-wapper {
  background-color: white;
  padding: 2.5em 0;
  display: inline-block;
}

footer .footer-infos {
  float: left;
  width: 50%;
  margin-left: 50px;
}

@media (max-width: 599px) {
  footer .footer-infos {
    width: 100%;
  }
}

footer .footer-contact {
  float: right;
  width: 20%;
}
@media (max-width: 599px) {
  footer .footer-contact {
    width: 100%;
  }
}

footer .footer-social-media {
  float: right;
  width: 20%;
}
@media (max-width: 599px) {
  footer .footer-social-media {
    width: 100%;
  }
}
footer .footer-social-media ul {
  list-style-type: none;
  display: inline-block;
  padding: 0;
  margin: 0;
}

footer .footer-social-media ul li {
  float: left;
  margin-left: 0.4em;
}

footer .footer-social-media ul li:first-child {
  margin-left: 0;
}

.copyright {
  padding: 1em 0;
  margin-left: 50px;
}

.footer_logo {
  width: 100px;
  height: 100%;
  margin-left: 50px;
}